@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueRegular.woff2') format('woff2'),
         url('../fonts/BebasNeueRegular.woff') format('woff'),
         url('../fonts/BebasNeueRegular.ttf') format('truetype'),
         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSansSemiBold.eot');
    src: url('../fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
         url('../fonts/OpenSansSemiBold.woff') format('woff'),
         url('../fonts/OpenSansSemiBold.ttf') format('truetype'),
         url('../fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
}
@font-face {
    font-family: 'OpenSansSemiBoldItalic';
    src: url('../fonts/OpenSansSemiBoldItalic.eot');
    src: url('../fonts/OpenSansSemiBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemiBoldItalic.woff2') format('woff2'),
         url('../fonts/OpenSansSemiBoldItalic.woff') format('woff'),
         url('../fonts/OpenSansSemiBoldItalic.ttf') format('truetype'),
         url('../fonts/OpenSansSemiBoldItalic.svg#OpenSansSemiBoldItalic') format('svg');
}
@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/OpenSansLightItalic.eot');
    src: url('../fonts/OpenSansLightItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansLightItalic.woff2') format('woff2'),
         url('../fonts/OpenSansLightItalic.woff') format('woff'),
         url('../fonts/OpenSansLightItalic.ttf') format('truetype'),
         url('../fonts/OpenSansLightItalic.svg#OpenSansLightItalic') format('svg');
}